body{
    font-family:'Titillium Web', sans-serif;
    background-color: whitesmoke;
    
}
nav {
    width: 100%;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: black;
    margin-left: -15px;
    margin-right: -30px;
    margin-top: -10px;
    padding-right: 30px;
}

nav div {
    color: white;
    font-size: large;
    line-height: 60px;
    position: absolute;
}

nav ul {
    list-style-type: none ;
    margin: 0;
    padding-left: 15;
    text-align: right;
    
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-left: 10px;
}

nav ul li a:hover {
    text-decoration: underline;
    border-color: white;
    cursor: pointer;
  }

nav ul li a {
    text-decoration: none;
    color: white;
    line-height: 60px;
}

img#logo{
    height: 60px;
    width: 60px;
}

img#bcircle{
    height: 50px;
    width: 50px;
    
}

img#wcircle{
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
}

div.page{
    display: -webkit-inline-box;
    
}



footer {
    background-color: black;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -10px;
}

footer a {
    color: white;
    display: block;
    text-align: center;
    
    
}

img#tshirtwhite{
    height: 500px;
    width: 500px;
    margin-top: 100px;
    margin-left: 100px;
}

div.swapcolour{
    margin-left: 300px;
    margin-bottom: 60px;
}

div.description{
    margin-top: 150px;
    margin-left: 25px;
}

h3#header2{
    font-size: 30px;
}

p#info2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    font-weight: lighter;
}

ul#list2{
    color: grey;
}

button#button2 {
    background-color: grey;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    border-radius: 4px;
    border-color: grey;
    padding: 15px;
    margin-left: 400px;
   margin-top: -20px;
    
    
    
}

button#button2:hover{
    background-color: blue;
    border-color: blue;
}

p#price2{
    font-size: 28px;
    color: black;
}

div.dropdown2{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blue;
    

}

select#cars{
    width: 50px;
    height: 35px
    
}

div.bottom2{
    display: -webkit-inline-box
}

